<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sanjiao_wupin_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1267,0},{521,522}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{521,522}}</string>
        <key>sourceSize</key>
        <string>{521,522}</string>
      </dict>
      <key>sanjiao_wupin_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,554},{521,510}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{521,510}}</string>
        <key>sourceSize</key>
        <string>{521,510}</string>
      </dict>
      <key>sanjiao_wupin_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{636,599}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{636,599}}</string>
        <key>sourceSize</key>
        <string>{636,599}</string>
      </dict>
      <key>sanjiao_wupin_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,601},{521,464}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{521,464}}</string>
        <key>sourceSize</key>
        <string>{521,464}</string>
      </dict>
      <key>sanjiao_xie_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{477,1169},{200,119}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,119}}</string>
        <key>sourceSize</key>
        <string>{200,119}</string>
      </dict>
      <key>sanjiao_xie.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1177},{188,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{188,100}}</string>
        <key>sourceSize</key>
        <string>{188,100}</string>
      </dict>
      <key>sanjiao_wupin_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1267,524},{521,510}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{521,510}}</string>
        <key>sourceSize</key>
        <string>{521,510}</string>
      </dict>
      <key>sanjiao_yanpi_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1790,1024},{198,198}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,198}}</string>
        <key>sourceSize</key>
        <string>{198,198}</string>
      </dict>
      <key>sanjiao_yanpi_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{1790,824},{198,198}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,198}}</string>
        <key>sourceSize</key>
        <string>{198,198}</string>
      </dict>
      <key>sanjiao_yanpi_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1790,422},{199,199}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,199}}</string>
        <key>sourceSize</key>
        <string>{199,199}</string>
      </dict>
      <key>sanjiao_yanpi_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1790,623},{199,199}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{199,199}}</string>
        <key>sourceSize</key>
        <string>{199,199}</string>
      </dict>
      <key>sanjiao_yanpi_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1790,0},{212,212}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{212,212}}</string>
        <key>sourceSize</key>
        <string>{212,212}</string>
      </dict>
      <key>sanjiao_yanpi_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1790,214},{203,206}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{203,206}}</string>
        <key>sourceSize</key>
        <string>{203,206}</string>
      </dict>
      <key>sanjiao_yanzhu_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1161,672},{76,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,90}}</string>
        <key>sourceSize</key>
        <string>{76,90}</string>
      </dict>
      <key>sanjiao_yanzhu_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1161,764},{77,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,77}}</string>
        <key>sourceSize</key>
        <string>{77,77}</string>
      </dict>
      <key>sanjiao_yanzhu_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,688},{76,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,90}}</string>
        <key>sourceSize</key>
        <string>{76,90}</string>
      </dict>
      <key>sanjiao_yanzhu_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,780},{77,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,77}}</string>
        <key>sourceSize</key>
        <string>{77,77}</string>
      </dict>
      <key>sanjiao_yanbai_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1161,1036},{197,197}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,197}}</string>
        <key>sourceSize</key>
        <string>{197,197}</string>
      </dict>
      <key>sanjiao_yanbai_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1360,1036},{197,197}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,197}}</string>
        <key>sourceSize</key>
        <string>{197,197}</string>
      </dict>
      <key>sanjiao_saihong_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,859},{65,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,29}}</string>
        <key>sourceSize</key>
        <string>{65,29}</string>
      </dict>
      <key>sanjiao_saihong_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1161,843},{65,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,29}}</string>
        <key>sourceSize</key>
        <string>{65,29}</string>
      </dict>
      <key>sanjiao_zuiba_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{899,1176},{165,131}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{165,131}}</string>
        <key>sourceSize</key>
        <string>{165,131}</string>
      </dict>
      <key>sanjiao_zuiba_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{1686,1224},{148,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{148,63}}</string>
        <key>sourceSize</key>
        <string>{148,63}</string>
      </dict>
      <key>sanjiao_zuiba_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1067},{254,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{254,108}}</string>
        <key>sourceSize</key>
        <string>{254,108}</string>
      </dict>
      <key>sanjiao_zuiba_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,1066},{262,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{262,101}}</string>
        <key>sourceSize</key>
        <string>{262,101}</string>
      </dict>
      <key>sanjiao_zuiba_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{787,1066},{254,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{254,108}}</string>
        <key>sourceSize</key>
        <string>{254,108}</string>
      </dict>
      <key>sanjiao_zuiba_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,1067},{257,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{257,96}}</string>
        <key>sourceSize</key>
        <string>{257,96}</string>
      </dict>
      <key>sanjiao_zuiba_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{1559,1036},{204,176}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,176}}</string>
        <key>sourceSize</key>
        <string>{204,176}</string>
      </dict>
      <key>sanjiao_kong.png</key>
      <dict>
        <key>frame</key>
        <string>{{2004,0},{30,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,30}}</string>
        <key>sourceSize</key>
        <string>{30,30}</string>
      </dict>
      <key>sanjiao_zuiba_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,1165},{219,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{219,101}}</string>
        <key>sourceSize</key>
        <string>{219,101}</string>
      </dict>
      <key>sanjiao_zuiba_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{679,1176},{218,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{218,100}}</string>
        <key>sourceSize</key>
        <string>{218,100}</string>
      </dict>
      <key>sanjiao_zuiba_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1161,554},{74,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,116}}</string>
        <key>sourceSize</key>
        <string>{74,116}</string>
      </dict>
      <key>sanjiao_zuiba.png</key>
      <dict>
        <key>frame</key>
        <string>{{1559,1214},{125,118}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{125,118}}</string>
        <key>sourceSize</key>
        <string>{125,118}</string>
      </dict>
      <key>sanjiao_zuiba_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,601},{105,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,85}}</string>
        <key>sourceSize</key>
        <string>{105,85}</string>
      </dict>
      <key>sanjiao_shenti.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,0},{627,552}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{627,552}}</string>
        <key>sourceSize</key>
        <string>{627,552}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sanjiao.png</string>
      <key>textureFileName</key>
      <string>sanjiao.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
    </dict>
  </dict>
</plist>